{% extends "layout.html" %}
{% block title %}Re:TRADE - About{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
	<h1>What is Re:TRADE? <small>A primer for the uninitiated</small></h1>
</div>
<p><h3>Re:TRADE aims to fill a void.</h3></p>
<p>Currently in the Ingress community, when you want to trade items with another player you're often forced to request the needed equipment on various chat/comms and hope that someone a) reads your request, b) has the equipment you need, c) plays in an area you can easily get to.</p>
<p>Due to this, I've created this site to offer a marketplace-style listing of requests or offers for equipment to trade, along with the player's in-game name and area they often play in. This should help increase productive gear swapping and reduce the headaches caused by trying to coordinate with other players.</p>
<p><h4>Feedback is greatly appreciated, my in-game name is <mark>@tigwyk</mark>, drop me a line!</h4></p>
</div>
{% endblock %}


