{% extends "layout.html" %}
{% block content %}
<div class="well well-small">
<h2>Create Trade</h2>
</div>
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form action={{ url_for('create_trade_page') }} method=post class=form-horizontal>
    {{ form.csrf_token }}
      <dl>
        {{ render_field(form.quantity) }}
        {{ render_field(form.price) }}
        {{ render_field(form.order_type) }}
        {{ render_field(form.item) }}
      </dl>
      <input type=submit value=Submit>
    </form>
{% endblock %}
