{% extends "layout.html" %}
{% block title %}Manufacturing Jobs{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
	<h1>Manufacturing Jobs <small>Items being manufactured by players</small></h1>
</div>
<p><a class="btn btn-primary btn-lg" role="button" href="javascript:void(0);">Create manufacturing job</a></p>
<table class="table table-striped">
<h3>All Manufacturing Jobs</h3>
<th>Item</th>
<th>Quantity</th>
<th>Creator</th>
<th>Date Created</th>
{% for job in all_mfg | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ job.item.name }}</td>
  <td>{{ job.quantity }}</td>
  <td>{{ job.user.name }}</td>
  <td>{{job.human_date}} <small>({{job.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>

<table class="table table-striped">
<h3>My Manufacturing Jobs</h3>
<th>Item</th>
<th>Quantity</th>
<th>Date Created</th>
{% for job in my_mfg | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ job.item.name }}</td>
  <td>{{ job.quantity }}</td>
  <td>{{job.human_date}} <small>({{job.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}


