{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="container">
  <div class="page-header">
        <h1>Profile <small>What makes you... you?</small></h1>
  </div>

  <div class="well">
  <p>Alias: <b>{{ current_user.name }}</b></p>
  <p>Email: {{current_user.email}}</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="{{url_for('logout_page')}}">Logout</a></p>
  </div>
  <table class="table table-striped">
<h3>My Possessions</h3>
<th>Item</th>
<th>Quantity</th>
{% for item,qty,link in items_table %}
  <tr>
  <td><a href={{ link }}>{{ item.name }}</a></td>
  <td>{{ qty }}</td>
  </tr>
  {% endfor %}
</table>
<h3>My Factories</h3>
<th>Name</th>
<th>Capacity</th>
<th>Current Job</th>
{% for factory in my_factories %}
  <tr>
  <td>{{ factory.name }}</td>
  <td>{{ factory.capacity }}</td>
  <td>{{ factory.current_job }}</td>
  </tr>
  {% endfor %}
</table>
<h3>My Distributors</h3>
<th>Name</th>
<th>Capacity</th>
</th>Item</th>
{% for distributor in my_distributors %}
  <tr>
  <td>{{ distributor.name }} </td>
  <td>{{ distributor.capacity }}</td>
  <td>{{ distributor.product }}</td>
  </tr>
  {% endfor %}
</table>
  </div>
  {% endblock %}
