{% extends "layout.html" %}
{% block title %}Trades{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
	<h1>Trade Listings <small>Items listed for trade by local players</small></h1>
</div>
<p><a class="btn btn-primary btn-lg" role="button" href="javascript:void(0);">Create trade</a></p>
<table class="table table-striped">
<th>Item</th>
<th>Quantity</th>
<th>Trading Agent</th>
<th>Date Created</th>
{% for trade in my_trades | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ trade.item.name }}</td>
  <td>{{ trade.quantity }}</td>
  <td>{{ trade.user.name }}</td>
  <td>{{trade.human_date}} <small>({{trade.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}


