{% extends "layout.html" %}
{% block title %}Trades{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
	<h1>Trade Listings <small>Items listed for trade by players</small></h1>
</div>
<p><a class="btn btn-primary btn-lg" role="button" href="javascript:void(0);">Create trade</a></p>
<h3>All Trades</h3>
<div class="well">
<h4>Buy Orders</h4>
<table class="table table-striped">
<th>Item</th>
<th>Quantity</th>
<th>Price Per Unit</th>
<th>Total Price</th>
<th>Order Type</th>
<th>Trading Agent</th>
<th>Date Created</th>
{% for trade in buy_orders | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ trade.item.name }}</td>
  <td>{{ trade.quantity }}</td>
  <td>{{ "$%.2f" % trade.price }}</td>
  <td>{{ "$%.2f" % trade.price * trade.quantity }}</td>
  <td>{{ trade.order_type }}</td>
  <td>{{ trade.user.name }}</td>
  <td>{{trade.human_date}} <small>({{trade.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>
<h4>Sell Orders</h4>
<table class="table table-striped">
<th>Item</th>
<th>Quantity</th>
<th>Price Per Unit</th>
<th>Total Price</th>
<th>Order Type</th>
<th>Trading Agent</th>
<th>Date Created</th>
{% for trade in sell_orders | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ trade.item.name }}</td>
  <td>{{ trade.quantity }}</td>
  <td>{{ "$%.2f" % trade.price|float }}</td>
  <td>{{ "$%.2f" % trade.price * trade.quantity | float}}</td>
  <td>{{ trade.order_type }}</td>
  <td>{{ trade.user.name }}</td>
  <td>{{trade.human_date}} <small>({{trade.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>
</div>
<h3>My Trades</h3>
<div class="well">
<table class="table table-striped">
<h4>Buy Orders</h4>
<th>Item</th>
<th>Quantity</th>
<th>Price Per Unit</th>
<th>Total Price</th>
<th>Order Type</th>
<th>Date Created</th>
{% for trade in my_buy | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ trade.item.name }}</td>
  <td>{{ trade.quantity }}</td>
  <td>{{ "$%.2f" % trade.price|float}}</td>
  <td>{{ "$%.2f" % trade.price * trade.quantity | float}}</td>
  <td>{{ trade.order_type }}</td>
  <td>{{trade.human_date}} <small>({{trade.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>
<table class="table table-striped">
<h4>Sell Orders</h4>
<th>Item</th>
<th>Quantity</th>
<th>Price Per Unit</th>
<th>Total Price</th>
<th>Order Type</th>
<th>Date Created</th>
{% for trade in my_sell | sort(reverse=True,attribute='created_date')%}
  <tr>
  <td>{{ trade.item.name }}</td>
  <td>{{ trade.quantity }}</td>
  <td>{{ "$%.2f" % trade.price }}</td>
  <td>{{ "$%.2f" % trade.price * trade.quantity }}</td>
  <td>{{ trade.order_type }}</td>
  <td>{{trade.human_date}} <small>({{trade.human_time}})</small></td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
{% endblock %}


